<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav> 
        <ul id="paginas">
            <li> <a href="/home" >Home</a></li>
            <li> <a href="/about" >About</a></li>
            <li> <a href="/works" >Works</a></li>
            <li> <a href="/photogallery" >Photo Gallery</a></li>
        </ul>
    </nav>
    <h1>About Dobby</h1>
    <h2>Dobby is free elf!</h2>
    
    <span>Dobby suffered a period of unemployment, during which he was often ostracised for having no "proper shame" in regards to being out of work. He was generally pleased to be free, although he did enjoy working as a hobby. Dobby was ecstatic to be out of the abusive hands of the Malfoys, but equally pleased to join the Hogwarts staff. At Hogwarts he could come and go as he liked, did not have many tasks, and those he did have were fairly simple. Dobby requested some compensations for his work and eventually he and Dumbledore came to an agreement.</span>

</body>
</html>