body {
background-color: lightblue;
font-family: monospace;
}

#paginas {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

a {
    text-decoration: none;
    color:black;
}
#dobbyimg img {
    width: 10%;  
    height: 10%;

}
#dobbyimg {
    display: flex;
    justify-content: space-between;
}

h1, h2, h3 {
    text-align: left;
}

span {
    width: 350px;
    text-align: center;
    left: 200px;

}

